@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Meetei+Mayek&display=swap');


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: #111;
}

h4 {
  margin-bottom: 0;
}

/* css to make the profile photo circular */
.profile {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
}

/* to center everything */
/*
.centered {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  */

/* css for contact*/
.contact-address{
  /*all: initial;*/
  font-family: Inter;
  font-style: normal;
}

.contact-table {
  margin:0;
  padding:0;
  border: 0;
  border-spacing: 0;
  text-decoration: none;
  font-family: 'Helvetica', sans-serif;
  border-collapse: separate;
  table-layout: fixed;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.contact-table p{
  margin: 0;
}

.name{
  font-family: Inter, sans-serif;
  color: #0085d1;
  
  font-weight: 800;
  font-size: 24px;
}

.meitei-mayek-name {
  font-family: 'Noto Sans Meetei Mayek', sans-serif;
  letter-spacing: 2px;
  color: #00a8e2;
  
}

.designation {
  letter-spacing: 2px;
  color: #777777;
}

.department {
  padding-top: 20px;
  letter-spacing: -1px;
  color: #777777;
}

.university {
  letter-spacing: 2px;
  color: #00a8e2;
}

.university a {
  color: #00a8e2;
  text-decoration: none;
  font-weight: bold;
}
.address-line {
  font-size: 12pt;
  color: #777777;
}